[submodule "Source/External/libigl"]
	path = Source/External/libigl
	url = git@github.com:rin-23/libigl.git
[submodule "Source/External/Choreograph"]
	path = Source/External/Choreograph
	url = git@github.com:sansumbrella/Choreograph.git
[submodule "Source/External/tweeny"]
	path = Source/External/tweeny
	url = git@github.com:mobius3/tweeny.git
[submodule "Source/External/tinyobjloader"]
	path = Source/External/tinyobjloader
	url = git@github.com:syoyo/tinyobjloader.git
[submodule "Source/External/fast-cpp-csv-parser"]
	path = Source/External/fast-cpp-csv-parser
	url = git@github.com:ben-strasser/fast-cpp-csv-parser.git
[submodule "Source/External/csv-parser"]
	path = Source/External/csv-parser
	url = git@github.com:AriaFallah/csv-parser.git
[submodule "Source/External/imgui"]
	path = Source/External/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Source/External/easyppm"]
	path = Source/External/easyppm
	url = git@github.com:fmenozzi/easyppm.git
[submodule "Source/External/nanoflann"]
	path = Source/External/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
